/* accent color: #c4b5fd */

body[data-theme='dark'] {
    background-color: #121212;
    color: #E0E0E0;
}

body[data-theme='dark'] .nav, body[data-theme='dark'] .footer {
    background-color: #333333;
}

body[data-theme='dark'] .nav a {
    color: #E0E0E0;
    background-color: transparent;
}

body[data-theme='dark'] .nav a:hover {
    background-color: #424242;
}

body[data-theme='dark'] .nav-search {
    background-color: #424242;
    color: #E0E0E0;
    border: 1px solid #424242;
}

body[data-theme='dark'] .footer p {
    color: #E0E0E0;
}

body, html {
    min-height: 400px;
    margin: 0;
    margin-bottom: 60px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* 
 * Navbar
 *
 * */
.nav {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 56px;
    background-color: #f3f4f6;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content:center;
    flex-grow: 1; 
}

.nav-center a {
    margin: 0 10px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
}

.nav-left p {
    margin-left: 10px;
}

.nav a {
    display: inline-flex;
    height: 36px; 
    align-items: center;
    padding: 8px 16px; 
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #1f2937; 
    backdrop-filter: blur(12px); 
    text-decoration: none;
    font-family: inter; 
}

.nav a:hover {
    background-color:white; 
    transition: 0.3s;
    color: #1f2937; 
}

.nav-search {
    height: 32px;
    width: 100%;
    margin: 0 10px;
    margin-top: 8px;
    padding: 0 12px;
    font-size: 0.875rem;
    color: #1f2937;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    outline: none;
    background-color: #ffffff;
}

#profileIcon {
    padding-right: 20px;
}

.toggle-saved-products-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #c4b5fd;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.toggle-saved-products-btn:hover {
    background-color: #a78bfa;
}

.saved-products-panel {
    z-index: 2;
    position: fixed;
    top: 56.5px;
    right: 0;
    width: 300px;
    top: 56.5px;
    background: white;
    height: calc(100vh - 56px);
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.saved-products-panel.visible {
    transform: translateX(0);
}

body[data-theme='dark'] .saved-products-panel {
    background-color: #424242;
}

.close-panel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
    font-size: 1.5em;
}

.close-panel-btn:hover {
    color: #1f2937;
}


/* 
 * startpage.tsx
 *
 * */
.banner {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px; 
    background: linear-gradient(to right, #D8B4FE, #DBEAFE); 
}

.banner h1 {
    font-family: montserrat;
    font-size: 2rem; 
    font-weight: 700; 
    margin-bottom: 0;
}

.banner p {
    font-family: playfair;
    font-size: 1rem; 
    font-weight: 500; 
    color: #1f2937;
    margin-top: 10px;
}

body[data-theme='dark'] .banner {
    background: linear-gradient(to right, #6b4f8a, #465e77);
    color: #E0E0E0;
}

body[data-theme='dark'] .banner p {
    color: #E0E0E0;
}

.product-gallery-preview {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: calc((4 * 250px) + 200px);
}

.show-more-btn {
    /*margin: 20px auto;*/
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #c4b5fd;
    color: white;
    /*font-size: 1rem;*/
    font-weight: 500;
    cursor: pointer;
    text-decoration: none; 
}

.show-more-btn:hover {
    background-color: #a78bfa;
}

.main-content {
    width: 95%;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


/* 
 * Footer
 *
 * */
.footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f3f4f6;
}

.footer p {
    font-size: 0.875rem; 
    font-weight: 500; 
    font-family: inter;
    color: #1f2937;
}


/* 
 * TextFIeldComponent
 *
 * */
.textFieldBox {
    display: grid;
    margin: 0 auto;
}


