/* accent color: #c4b5fd */

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body, html {
    height: 100%;
    margin: 0;
}

.content {
    flex: 1;
}

.nav {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    height: 56px;
    background-color: #f3f4f6;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content:center;
    flex-grow: 1; 
}

.nav-center a {
    margin: 0 10px;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
}

.nav-left p {
    margin-left: 10px;
}

.nav a {
    display: inline-flex;
    height: 36px; 
    align-items: center;
    padding: 8px 16px; 
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #1f2937; 
    backdrop-filter: blur(12px); 
    text-decoration: none;
    font-family: inter; 
}

.nav a:hover {
    background-color:white; 
    transition: 0.3s;
    
    color: #1f2937; 
}

.nav-search {
    height: 32px;
    width: 100%;
    margin: 0 10px;
    margin-top: 8px;
    padding: 0 12px;
    font-size: 0.875rem;
    color: #1f2937;
    border: 1px solid #e5e7eb;
    border-radius: 9999px;
    outline: none;
    background-color: #ffffff;
}

#profileIcon {
    padding-right: 20px;
}



.banner {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px; 
    background: linear-gradient(to right, #D8B4FE, #DBEAFE); 
    font-family: inter;
}

.banner h1 {
    font-size: 2rem; 
    font-weight: 700; 
}

.banner p {
    font-size: 1rem; 
    font-weight: 500; 
    color: #1f2937;
}


.footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #f3f4f6;
}

.footer p {
    font-size: 0.875rem; 
    font-weight: 500; 
    font-family: inter;
    color: #1f2937;
}

.main-content {
    width: 95%;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inter;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-avatar {
    margin-right: 20px;
    color: #4b5563; 
    font-size: 4em;
}

.profile-info h4 {
    font-size: 1.5em;
    margin: 0;
    color: #1f2937;
}

.profile-info p {
    color: #6b7280; 
}

.profile-section h4 {
    margin-top: 20px;
    color: #111827; 
}

.profile-settings, .order-history {
    display: block;
    align-items: center;
    font-size: 16px;
    color: #374151;
}

.profile-settings span, .order-history span {
    margin-left: 10px;
}

.settings-item {
    margin-top: 10px;
}

.toggle-saved-products-btn {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;

    background-color: #c4b5fd;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.toggle-saved-products-btn:hover {
    background-color: #a78bfa;
}

.saved-products-panel {
    position: fixed;
    top: 64px;
    right: 0;
    width: 300px;
    /*height: (100vh - 60px);*/
    height: 100%;
    background: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.saved-products-panel.visible {
    transform: translateX(0);
}

.close-panel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #6b7280;
    font-size: 1.5em;
}

.close-panel-btn:hover {
    color: #1f2937;
}
